# Android Studio & Emulator
alias em28='~/Library/Android/sdk/tools/emulator -avd API28 -dns-server 8.8.8.8'
alias em28g='~/Library/Android/sdk/tools/emulator -avd API28g -dns-server 8.8.8.8'
alias em29='~/Library/Android/sdk/tools/emulator -avd API29 -dns-server 8.8.8.8'
alias em29g='~/Library/Android/sdk/tools/emulator -avd API29g -dns-server 8.8.8.8'
alias devices='adb devices'
alias uiui='/Users/michaeloverman/Library/Android/sdk/tools/bin/uiautomatorviewer > /dev/null &'

alias updateall='updateall.sh'
alias ua='updateall.sh'

# General
alias temp='cd ~/Desktop/temp'
alias mscA='cd ~/Documents/Android Projects/MsCount2'
alias mscI='cd ~/Documents/iOS Projects/MsCount'
alias ~='cd ~'
export HISTTIMEFORMAT="%y.%m.%d %T "
alias fingmouth='date "+ %Y-%m-%d %H:%M:%S" >> ~/MikahsFingersMouth.txt'
alias gitmc="/Users/michaeloverman/Documents/Android Projects/MsCount2 git push -u origin master"
alias gitios="/Users/michaeloverman/Documents/BigNerd git push -u origin master"
alias ll="ls -la"
alias wh="pwd"
alias gacp="git add * && git commit && git push -u origin master"
alias gs="git status"
alias gp="git push -u origin master"

alias e="exit"
